.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #2fa5ab 39%, #51417a 96%);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    color:  #372833;
    margin-top: 20px;
}

body {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    text-align: center;
    color: #372833;

}

input, button {
    margin: 10px;
    padding: 10px;
    border: 1px solid #543434;
    border-radius: 10px;
    font-size: larger;
}

input {
    width: 50%;
    font-size: medium;
    }

button {
    color: white;
    cursor: pointer;
    background-color: #0d8a0b66;
}

button:hover {
    background-color: #372833;
}
#resultados{
    width: 90%;
    border-radius: 10px;
    padding-left: 30%;
    margin: 30px;
    font-size: large;
    font-weight: 700;
    white-space:nowrap; ;
    text-align: justify;
    
}